<header class="fixed top-0 left-0 right-0 z-[10vh] bg-dsurface/100 backdrop-blur-sm flex items-center justify-between whitespace-nowrap px-6 py-3">
    <div class="w-full flex justify-center">
        <!-- <h1 class="font-primary text-dprimary text-center text-4xl md:text-5xl">T&A</h1> -->
        <a routerLink="/" aria-label="Ir para a página inicial" class="inline-flex items-center justify-center">
            <img src="/img/initials.png" alt="initials" class="w-14 h-14 md:w-20 md:h-20 text-dprimary">
        </a>
    </div>
</header>
