<div class="min-h-screen flex flex-col uppercase bg-surface overflow-x-hidden">
    <main class="flex flex-col items-center justify-between min-h-screen">
        <app-header />
        <div class="flex flex-col flex-1 mt-[10vh] mx-4 px-4">
            <div class="flex-auto flex flex-col gap-6 md:flex-row md:gap-16 lg:gap-24 items-center justify-center w-full max-w-7xl">
                <div class="flex flex-col text-center md:text-start md:w-1/3">
                    <div class="font-primary whitespace-nowrap text-dprimary text-6xl md:text-9xl">
                        <h1>
                            Save <br class="hidden md:inline">
                            the <br class="hidden md:inline">
                            Date
                        </h1>
                    </div>
                    <h2 class="text-textc text-xl md:text-3xl font-secondary">8 mar 2026</h2>
                    <p class="text-textc whitespace-nowrap text-sm font-secondary hidden pt-4 md:block">
                        Contamos com sua presença!
                    </p>
                </div>
                <div class="flex justify-center md:w-2/3 md:flex-auto">
                    <img src="img/noivado1.jpg" class="rounded-t-full shadow-lg max-h-[50vh] object-cover aspect-[3/4]" style="filter: none;">
                </div>
                <div class="md:hidden">
                    <p class="text-textc text-center whitespace-nowrap text-sm font-secondary">
                        Contamos com sua presença!
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-col-reverse items-center w-full text-textc mb-[5vh]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
            <p class="text-center whitespace-nowrap text-[0.8em] font-secondary pt-6">
                Nossa história
            </p>
        </div>
    </main>

    <section class="bg-dsurface text-dtextc py-20 px-4">
        <div class="max-w-4xl mx-auto">
            <h2 class="text-4xl font-primary text-center mb-12 text-dprimary">Nossa História</h2>
            <div class="space-y-6 text-lg leading-relaxed normal-case">
                <p>
                    Era 2015 quando Tayná e Antonio se encontraram pela primeira vez, no grupo de jovens da igreja que frequentavam. Mas, ao contrário dos contos de fadas, não foi amor à primeira vista. Foram anos com poucas conversas, olhares rápidos e caminhos que pareciam seguir separados.
                </p>
                <p>
                    O primeiro encontro só aconteceu em 12 de dezembro de 2018. Algo simples, quase clichê: um passeio ao cinema para assistir a um filme sobre o Queen, uma das bandas favoritas de Tayná, que logo se tornaria também a banda favorita do casal. Foi nesse dia que adotaram “Crazy Little Thing Called Love” como a música que os representaria. (Para matar a curiosidade: o filme era Bohemian Rhapsody).                
                </p>
                <p>
                    A partir dali, o tempo passou a ter novos marcos: o pedido de namoro, em 16 de março de 2019, e o pedido de casamento, em 1º de setembro de 2023. Entre esses dois momentos, vieram desafios e saudades: a distância imposta pela pandemia e, mais tarde, pela viagem da Tayná aos Estados Unidos, onde ficou por um ano e meio. Cada distância, no entanto, apenas fortaleceu o que sentiam um pelo outro.
                </p>
                <p>
                    Hoje, o que começou com passos tímidos e encontros espaçados está prestes a ganhar um novo capítulo. Um capítulo que queremos viver ao lado das pessoas mais importantes para nós.
                </p>
            </div>
        </div>
    </section>

    <section>
        <!-- Localizações -->
        <div class="max-w-6xl mx-auto py-20 px-4">
            <h2 class="text-4xl font-primary text-center mb-12 text-dprimary">Localizações</h2>
            <div class="flex flex-col md:flex-row  gap-12 md:gap-16">
                <!-- Cerimônia -->
                <div class="flex flex-col flex-1">
                    <h3 class="text-2xl font-secondary mb-2 lg:text-end">Cerimônia</h3>
                    <p class="text-sm font-secondary mb-4 normal-case lg:text-end">Paróquia Nossa Senhora Auxiliadora<br>R. Arapongas, 1399 - Sítio Cercado, Curitiba - PR, 81900-400</p>
                    <div class="rounded-lg overflow-hidden aspect-video mb-4 w-full">
                        <iframe 
                            title="Mapa Cerimônia" 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3599.9351725965616!2d-49.28395792282518!3d-25.540536237277923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dcfb863b3fcb4b%3A0xc9b933f2e85d5bf4!2sPar%C3%B3quia%20Nossa%20Senhora%20Auxiliadora!5e0!3m2!1sen!2sbr!4v1762469355257!5m2!1sen!2sbr" 
                            width="100%" 
                            height="100%" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="mt-auto flex flex-row gap-3">
                        <a 
                            class="flex-1 text-center bg-dprimary text-white font-secondary py-2 px-4 rounded-md hover:bg-dprimary/90 transition-colors duration-200"
                            href="https://maps.app.goo.gl/cFuM61Ws7hJoWkY16" 
                            target="_blank" 
                            rel="noopener noreferrer">
                            Google Maps
                        </a>
                        <a 
                            class="flex-1 text-center bg-dsecondary text-dtextc font-secondary py-2 px-4 rounded-md hover:bg-dsecondary/90 transition-colors duration-200"
                            href="https://waze.com/ul/h6gkyww6rs" 
                            target="_blank" 
                            rel="noopener noreferrer">
                            Waze
                        </a>
                    </div>

                </div>

                <!-- Separator -->
                <div class="w-full md:w-px md:h-auto md:self-stretch flex md:block justify-center">
                    <div class="h-px w-full md:h-full md:w-px bg-dprimary/30"></div>
                </div>

                <!-- Festa -->
                <div class="flex flex-col flex-1">
                    <h3 class="text-2xl font-secondary mb-2">Festa</h3>
                    <p class="text-sm font-secondary mb-4 normal-case">Chácara Encanto das Areias<br>R. José Júlio Tortato, 20 - Campo de Santana, Curitiba - PR, 81945-030</p>
                    <div class="rounded-lg overflow-hidden aspect-video mb-4 w-full">
                        <iframe 
                            title="Mapa Festa" 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3597.9854268450595!2d-49.313507699999995!3d-25.6054005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dcfef32dc167d9%3A0xdbc9403d2792144f!2sCh%C3%A1cara%20Encanto%20das%20Areias!5e0!3m2!1sen!2sbr!4v1762469525041!5m2!1sen!2sbr" 
                            width="100%" 
                            height="100%" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="mt-auto flex flex-row gap-3">
                        <a 
                            class="flex-1 text-center bg-dprimary text-white font-secondary py-2 px-4 rounded-md hover:bg-dprimary/90 transition-colors duration-200"
                            href="https://www.google.com/maps/search/?api=1&query=Chácara+Encanto+das+Areias+Curitiba+PR" 
                            target="_blank" 
                            rel="noopener noreferrer">
                            Google Maps
                        </a>
                        <a 
                            class="flex-1 text-center bg-dsecondary text-dtextc font-secondary py-2 px-4 rounded-md hover:bg-dsecondary/90 transition-colors duration-200"
                            href="https://waze.com/ul/h6gkymfd8x" 
                            target="_blank" 
                            rel="noopener noreferrer">
                            Waze
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
