/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --font-primary: 'Soage', serif;
    --font-secondary: 'Lexend Giga', sans-serif;
    
    --color-primary: oklch(0.82 0.14 85.0);
    --color-secondary: oklch(0.72 0.10 140.0);
    --color-textc: oklch(0.45 0.05 35.0);
    --color-surface: oklch(0.95 0.02 100.0);
    --color-accent: oklch(0.87 0.07 220.0);

    --color-dprimary: oklch(0.75 0.13 85.0);
    --color-dsecondary: oklch(0.60 0.08 140.0);
    --color-dtextc: oklch(0.91 0.02 75.0);
    --color-dsurface: oklch(0.28 0.03 35.0);
    --color-daccent: oklch(0.78 0.06 220.0);
}

@font-face {
    font-family: Soage;
    src: url('./assets/fonts/Soage.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Giga';
    src: url('./assets/fonts/LexendGiga-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Giga';
    src: url('./assets/fonts/LexendGiga-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Giga';
    src: url('./assets/fonts/LexendGiga-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* 
.font-primary {
    font-family: var(--font-primary);
} */